@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Eliot Fan Club";
    ViewData["MyFavoriteISProfessor"] = "idk";
}

<link rel="shortcut icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D100063675544775&imgrefurl=https%3A%2F%2Fwww.facebook.com%2Fbyumarriott%2F&tbnid=AjGmDuxD31eWKM&vet=12ahUKEwjZ5rXmy_D8AhWiB0QIHUmkCVcQMygAegUIARDNAQ..i&docid=B85lGtqK8NBJjM&w=1050&h=1050&q=byu%20marriott%20schoool&ved=2ahUKEwjZ5rXmy_D8AhWiB0QIHUmkCVcQMygAegUIARDNAQ">


<h1>Welcome to my web page!</h1>
<img src="img/Eliot Profile Pic.jpeg" />
<h2> Eliot, (a.k.a 'The Hero') is a information systems student at byu</h2>
<br />
<h2>What I hope to get out of IS 413</h2>
<p>I hope to gain more coding skills throughout this course. specifically c# coding skills, and maybe some javascript and basic html skills so i can build a beautiful website easily. Honestly I would love to learn any foundational and advanced skills I can use later in life. </p>
<br />
<h2>Top 3 jobs I am most interested in pursuing when I graduate</h2>
<ol>
    <li>Mobiae applications developer</li>
    <li>API Engineer</li>
    <li>AI Engineer</li>
</ol>
<br />


<br />
<br />
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/jquery/jquery-3.6.3.min.js"></script>
<script src="js/FanMail.js"></script> <!--Importing javascript file happens at the end of a file-->
