<!DOCTYPE html>

<html>
<head>
    <!--all pages will use this template-->
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="img/Eliot Profile Pic.jpeg" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="FanMail">Calculator</a>
    </nav>
    <div>
        @RenderBody() <!--Is were everything else will go on index.cshtml-->
    </div>


    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
</body>
</html>


